body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}

h1 {
    font-size: 36px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title, #author, #read {
     max-width: 33%;
     
}

hr {
    color: beige;
    max-width: 75%;
}


#table {
    min-width: 680px;
    margin: 2rem;
    border: 2px solid beige;
}

thead {
    background-color: aqua;
}

tbody {
    background-color: aquamarine;
}